<div class="container" >
    <button class="btn btn-outline-danger" style="margin: 20px;" routerLink="/home">home</button>
    <table>
        <thead >
            <tr>
                <th>Id</th>
                <th>EmployeeName</th>
                <th>CompanyName</th>
                <th>BranchName</th>
            </tr>
        </thead>

        <tbody *ngFor="let item of userDataArr">
            <tr >
                <td>{{ item.Id}}</td>
                <td>{{ item.EmpName }}</td>
                <td>{{ item.CompanyName }}</td>
                <td>{{ item.BranchName}}</td>
                
            </tr>
        </tbody>
    </table>
</div>





<!-- <div class="container"> -->
	<!-- <table>
		<thead>
			<tr>
				<th>Id</th>
				<th>EmployeeName</th>
				<th>CompanyName</th>
				<th>BranchName</th>
			</tr>
		</thead>
		<tbody *ngFor="let item of userDataArr">
			<tr>
				<td>{{ item.Id}}</td>
				<td>{{ item.EmpName }}</td>
				<td>{{ item.CompanyName }}</td>
				<td>{{ item.BranchName}}</td>
			</tr>
		</tbody>
	</table> -->
<!-- </div> -->