<!-- <body style="background-image: url(https://img.freepik.com/premium-photo/abstract-curve-pattern-blue-white-background_49758-667.jpg); 
background-repeat: no-repeat; 
background-size: cover; 
height:953px;;">
    <nav class="navbar navbar-dark bg-dark">
        <div>
            <a class="navbar-brand" style="margin-left: 1rem;cursor:context-menu;" routerLink="/home">Home</a>
            <a class="navbar-brand" routerLink="employee" style="margin-left: 1rem;">Employee</a>
            <a class="navbar-brand" routerLink="company" style="margin-left: 1rem;">Company</a>
            <a class="navbar-brand" routerLink="branch" style="margin-left: 1rem;">Branch</a>
        </div>
        <button class="btn btn-primary" style="margin-right: 2rem;" (click)="logoutFun()">Sign Out</button>
    </nav>
        <router-outlet></router-outlet>
</body> -->



<body style="background-image: url(https://img.freepik.com/premium-photo/abstract-curve-pattern-blue-white-background_49758-667.jpg); 
background-repeat: no-repeat; 
background-size: cover; 
height:953px;;">

<!-- <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'> -->
<nav class="navbar navbar-dark bg-dark">
    <!-- <h1>Simple Menu Navigation</h1> -->
    <div>
    <a routerLink="/home" class="btn btn-success m-2" id="home">Home</a>
    <a routerLink="employee" class="btn btn-info m-2" id="employee">Employee</a>
    <a routerLink="company" class="btn btn-warning m-2" id="company">Company</a>
    <a routerLink="branch" class="btn btn-danger m-2" id="branch">Branch</a>
</div>
<button class="btn btn-primary" style="margin-right: 2rem;" (click)="logoutFun()" id="signOut">Sign Out</button>
</nav>
    <router-outlet></router-outlet>
</body>