<!-- <body style="background-image: url(https://img.freepik.com/premium-photo/abstract-curve-pattern-blue-white-background_49758-667.jpg); 
background-repeat: no-repeat; 
background-size: cover; 
height:953px;;">
    <nav class="navbar navbar-dark bg-dark">
        <div>
            <a class="navbar-brand" style="margin-left: 1rem;cursor:context-menu;" routerLink="/home">Home</a>
            <a class="navbar-brand" routerLink="employee" style="margin-left: 1rem;">Employee</a>
            <a class="navbar-brand" routerLink="company" style="margin-left: 1rem;">Company</a>
            <a class="navbar-brand" routerLink="branch" style="margin-left: 1rem;">Branch</a>
        </div>
        <button class="btn btn-primary" style="margin-right: 2rem;" (click)="logoutFun()">Sign Out</button>
    </nav>
        <router-outlet></router-outlet>
</body> -->



<body style="background-image: url(https://img.freepik.com/premium-photo/abstract-curve-pattern-blue-white-background_49758-667.jpg); 
background-repeat: no-repeat; 
background-size: cover; 
height:953px;;">

    <!-- <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'> -->
    <nav class="navbar navbar-dark bg-dark">
        <!-- <h1>Simple Menu Navigation</h1> -->
        <div>
            <a routerLink="/home" class="btn btn-success m-2" id="home">Home</a>
            <a routerLink="employee" class="btn btn-info m-2" id="employee">Employee</a>
            <a routerLink="company" class="btn btn-warning m-2" id="company">Company</a>
            <a routerLink="branch" class="btn btn-danger m-2" id="branch">Branch</a>
        </div>
        <div>
            <a class="btn btn-light m-2" id="addUser" (click)="addUserFun()"><i class="bi bi-person-fill-add"></i></a>
            <a class="btn btn-warning m-2" id="fav" (click)="favouriteFun()"><i class="bi bi-star-fill"></i></a>
            <button class="btn btn-primary m-2" (click)="logoutFun()" id="signOut">Sign Out</button>
        </div>
    </nav>

    <router-outlet></router-outlet>


    <div class="overlay" *ngIf="showLoader">
        <main id="hello">
            <svg class="ip" viewBox="0 0 256 128" width="256px" height="128px" xmlns="http://www.w3.org/2000/svg"
                style="margin-top: 20%">
                <defs>
                    <linearGradient id="grad1" x1="0" y1="0" x2="1" y2="0">
                        <stop offset="0%" stop-color="#5ebd3e" />
                        <stop offset="33%" stop-color="#ffb900" />
                        <stop offset="67%" stop-color="#f78200" />
                        <stop offset="100%" stop-color="#e23838" />
                    </linearGradient>
                    <linearGradient id="grad2" x1="1" y1="0" x2="0" y2="0">
                        <stop offset="0%" stop-color="#e23838" />
                        <stop offset="33%" stop-color="#973999" />
                        <stop offset="67%" stop-color="#009cdf" />
                        <stop offset="100%" stop-color="#5ebd3e" />
                    </linearGradient>
                </defs>
                <g fill="none" stroke-linecap="round" stroke-width="16">
                    <g class="ip__track" stroke="#ddd">
                        <path d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56" />
                        <path d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64" />
                    </g>
                    <g stroke-dasharray="180 656">
                        <path class="ip__worm1" stroke="url(#grad1)" stroke-dashoffset="0"
                            d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56" />
                        <path class="ip__worm2" stroke="url(#grad2)" stroke-dashoffset="358"
                            d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64" />
                    </g>
                </g>
            </svg>
        </main>

    </div>


</body>